<h1>Patron Record</h1>

<h5><a href="/patrons/<%= @patron.id %>/edit">Edit or Delete</a><h5>

<p><strong>Name:</strong> <%= @patron.full_name %></p>

<p><strong>ID:</strong> <%= @patron.id %></p>
<p><strong>Checkouts:</strong></p>
<% if @patron.checkouts.any? %>
  <ul>
    <% @patron.checkouts.each do |checkout| %>
      <% book = checkout.book %>
      <li>
        <a href="/catalog/<%= book.id %>"><em><%= book.title %></em></a> Due: <%= checkout.due_date %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No books saved to patron.</p>
<% end %>

<p><a href="/patrons">Back to patrons list</a></p>
